# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Environment variables / secrets
.env

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Build / cache
dist/
build/
.cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Local database
*.sqlite3

database/uploads/
